<!DOCTYPE html>
<html lang="en">
<head>
<title>Pipeline Simulator</title>
<style type="text/css">
    #editor,#log { 
        
        width: 50em;
        height: 30em;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .wrapper {
    min-width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
    }
    .first {
        padding-left: 1%;
        width: 40%;
        height: 40em;
        float:left;
    }
    .second {
        padding-left: 10%;
        overflow: hidden;
        height: 40em;
        width: 60%;
    }
    th,td,img{
        min-width: 6em;
        width: 15em;
    }
    .inst{
        width: 10em;
    }

    
</style>
<script src="../static/bower_components/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body style="margin-top:1em;padding-bottom:10em;">
    <div class="wrapper">
        <div class="first">
            <div id="editor">add $0, $3, $6
    jr $ra
    addi $0, $3, 6
            </div>

            <button style="margin-top:1em; margin-left:10em" class = "btn btn-primary btn-lg" onclick="Simulate()">Simulate</button>
            <button style="margin-top:1em; margin-left:1em" class = "btn btn-primary btn-lg" onclick="Next_Step()">Next Step</button>
        </div>

        <div class="second">

            
            <div id="log">batee5</div>

        </div>


    </div>
    <div class="wrapper"style="overflow:visible;margin-bottom:100px;">

        <div class="first">
            <table id="regMem" style="margin-left: 40%;margin-bottom:100px;" class="table-hover">
                <tr><th>Register Memory Address</th><th>Data</th></tr>
                <tr><td>0x0000000</td><td>3214</td></tr>
            </table>
        </div>

        <div class="second" style="overflow:visible;margin-bottom:100px;">
            <table id="dataMem" style="margin-left: 10%" class="table-hover">
                <tr><th>Data Memory Address</th><th>Data</th></tr>
                <tr><td>0x0000000</td><td>3214</td></tr>
            </table>
        </div>

    </div>



    
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/assembly_x86");

    editor = ace.edit("log");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/assembly_x86");
    editor.container.style.pointerEvents="none"
    editor.renderer.setStyle("disabled", true)


    function Simulate(){
        var editor = ace.edit("editor");
        $.post("/simulate", {"data":editor.getValue()}, function(data){
            getLog();
            getRegfile();
            getData();
        });
    }

    function Next_Step(){
        $.get("/nextStep", function(data){
            getLog();
            getRegfile();
            getData();
        });
    }

    function getLog(){
        var editor = ace.edit("log");
        $.get("/getLog", function(data){
            editor.setValue(data.data);
        });
    }

    function getData(){
        $.get("/memoryData", function(data){
            tabl = $("#dataMem");
            tabl.html("<tr><th>Data Memory Address</th><th>Data</th></tr>");
            count = 0;
            for (var i=0; i<data.data.length;i++)
            {
                tabl.append("<tr><td>"+count+"</td><td>"+data.data[i]+"</td></tr>");
                count+=1;
            }
        });
    }

    function getRegfile(){
        $.get("/registerData", function(data){
            //console.log(data.data)
            tabl = $("#regMem");
            tabl.html("<tr><th>Register Memory Address</th><th>Data</th></tr>");
            count = 0;
            for (var i=0; i<data.data.length;i++)
            {
                tabl.append("<tr><td>"+count+"</td><td>"+data.data[i]+"</td></tr>");
                count+=1;
            }
        });
    }

</script>
</body>
</html>








